@-webkit-keyframes bounceInBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    border-width:1px;
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(2.05);
    transform: scale(2.05);
    border-width:2px;
  }

  70% {
    -webkit-transform: scale(.7);
    transform: scale(.7);
    border-width:1px;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    border-width:0px;
  }
}

@keyframes bounceInBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    border-width:1px;
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(2.05);
    -ms-transform: scale(2.05);
    transform: scale(2.05);
    border-width:2px;
  }

  70% {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    border-width:1px;
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border-width:0px;
  }
}

.bounceInBig {
  -webkit-animation-name: bounceInBig;
  animation-name: bounceInBig;
}
