@import "../bower_components/bootstrap/less/bootstrap.less";


@font-family-sans-serif: "brandon-grotesque";

@body-bg: #eee;

.navbar {

  background-color:#ddd;
}
.navbar-header {

  width:100%;
  text-align:center;
}
.navbar-brand {
    margin-top:0px;
    padding-top:20px;
    text-transform: uppercase;
    font-weight:bold;
  
    text-align:center;

  }



.circle {

  border-radius:60px;

  padding:10px;
  background-color:white;

  margin-bottom:20px;
}
